.item{
    display: grid;grid-template: 'av name total' auto / auto auto 1fr;gap: 16px;
    align-items: center;
}

.imageWrap{
    grid-area: av;
    position: relative;width: 64px;height: 64px;border-radius: 50%;
    padding: 3px;background-image: linear-gradient(45deg, #801AB2, #4C4CFF);
}

.image{
    font-size: 0;width: 100%;height: 100%;object-fit: cover;object-position: center;
    background-color: #131316;border-radius: 50%;padding: 6px;
}

.name{
    grid-area: name;
    font-size: 16px;
}

.total{
    grid-area: total;justify-self: end; 
    display: flex;align-items: center;gap: 10px;
    font-size: 28px;
}
