.header{
    position: relative;width: 100%;min-height: 40px;padding: 16px 0;
    background-color: #1C1C21;
}

.wrap{
    display: grid;grid-template: 'left logo right' auto / 1fr 1fr 1fr;
    width: var(--wrap-width);margin: 0 auto;
}

.leftNav{
    display: flex;align-items: center;gap: 8px;
}

.link{
    display: flex;align-items: center;gap: 8px;padding: 16px;
    color: #fff;opacity: .5;
}

.active{
    opacity: 1;
}

.logo{
    justify-self: center;
}

.rightNav{
    justify-self: flex-end;
}
