.footer{
    position: relative;min-height: 200px;margin: 40px 0 0 0;background-color: #1C1C21;
    display: flex;flex-direction: column; align-items: center;justify-content: center;gap: 16px;
}

.text{
    font-size: 1em;opacity: .5;
}

.author{
    font-size: 48px;
}
