.wrap{
    position: relative;padding: 100px 16px 16px 0;
}

.list{
    display: flex;flex-direction: column;gap: 16px;padding: 8px 0;border-radius: 20px;
}

.listCanDrop{
    outline: 4px dashed #5dd32f;outline-offset: 3px;
}

.total{
    position: relative;display: flex;align-items: center;justify-content: flex-end;
    gap: 40px;margin: 40px 0 0 0;padding: 0 16px 0 16px;
}

.price{
    position: relative;display: flex;align-items: center;gap: 10px;
}

.price span{
    font-size: 48px;
}

.price svg{
    width: 36px;height: 36px;
}

.totalButton{
    
}

.row{
    position: relative;display: grid;grid-template: 'btn item' / 32px 1fr;grid-gap: 8px;
}

.row_dragging{
    /*opacity: 0;*/
}

.item{
    position: relative;grid-area: item;
}

.toggleButton{
    grid-area: btn;padding: 2px;align-self: center;
}
